

.faq-p {
    text-indent: 30px;
}

.btn-halloween {
    background-color: #ff9600;
}

    .btn-halloween:hover {
        background-color: #ff6a00;
    }


 .question:hover{
     text-decoration:underline;
 }

.colorHeader {
    color: #a11518;
}

@media (max-width: 400px) {
    .salemString {
        display: none;
    }
}

.swiper-slide {
    position: relative;
    
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: grab;
}

.swiper-slide picture {
    display: block;
    width: 100%;
    height: 100%;
}