

.faq-p {
    text-indent: 30px;
}

.btn-halloween {
    background-color: #ff9600;
}

    .btn-halloween:hover {
        background-color: #ff6a00;
    }


 .question:hover{
     text-decoration:underline;
 }

.colorHeader {
    color: #a11518;
}

@media (max-width: 400px) {
    .salemString {
        display: none;
    }
}


