
/***** BASE STYLES *****/

body {
    
    font-family: 'Barlow Condensed', sans-serif;
    color: #2b2b2b

}

#about #goals #contact{
    
    Height: 60vw;
    
}
.full-width {

    width: 79%;
	margin:0 auto;
	padding:0;
    float:left;
}
.half-width{

    width: 50%;
    float: left;

}

.third-width{

    width: 30%;
    float: left;

}

/*****Header Styling******/

header {

    height: 60vw;
    background: url('../img/rawpixel-678089-unsplash.png') no-repeat;
    background-size: contain;
}

header h1 { 

    padding: 1vw 0vw 1vw 15vw;
    font-size: 3.5vw;
    font-family: 'Lobster', cursive;
    float: left;
    color: #b84118;
}

/*****Navigation bar Styling******/
nav {
	
	list-style-type:none;
    float:right; 
    Padding: 3vw 0vw 20vw 0vw
	
}
nav ul li{

    display:inline-block;
}

nav ul li a {

    font-family:inherit;
    color:#b84118;
    font-size: 2.3vw;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    Margin-right:2vw;
    text-decoration: none;
    list-style: none;
    float: right;
}

/****styling content in about section*******/


#about .half-width {

    padding: 3vw 0vw;
}
#about h2{

    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    padding-left: 15vw;

}

#about p {

    font-family:inherit;
    font-size: 1.5vw;
    margin-top: -1vw;
    padding-left:15vw;
    padding-right:1vw;


}

#about ul{

    font-family:inherit;
    font-size: 1.5vw;
    padding-left:17vw;
    padding-right:1vw;


}

/*****styling content in Goals section******/

#goals {
  
    text-align: center;
    display: inline-block;
    

}

#goals .full-width{

    padding: 10.3vw;
    background: #fcad7d;
    
}

#goals img{

    padding-bottom: 4vw;
    width:19%; 
}

#goals h3 {

    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
    line-height:5vw;
    width:40%;
    margin: 0 auto;
}
 
#goals p {

    font-family: inherit;
    font-size: 1.5vw;
    line-height: 2vw;
    padding: 0 3vw;
}

/***styling contact section***/

#contact-img {

	max-width: 50%;
    margin-left: 10%;
    border: 1vw solid;
}

#contact .full-width{

    margin-top:-1vw;
    padding:10.3vw;
    background:#b4b3b3;

}

#contact #instagram, #contact #linkedin, #contact #github {

    padding-right: 1.8vw;
    max-width:15%;
}

#contact #contact-email, #email{

    color:#c49075;
    text-decoration: underline;
    padding-right: 1vw;
    max-width:60%;
}

 #contact h2 {

    font-family: 'Dancing Script', cursive;
    font-size: 2vw;
    line-height: 1.5vw;
}

#contact h3, #contact p{

	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.5vw;
    line-height: 1.5vw;
}